<!DOCTYPE Html>
<html>
<head>
  <title>The Career-Change journey</title> 
  <link rel="stylesheet" type="text/css" href="style.css">
</head>  
<body>
<div id="Maindiv">
   <div id="navdiv">
        <u1>
            <h1>The Career-Change journey</h1>
            <p>One thing I learned is making a career change is lonely journey. When i am in midst of it, family & friends are not getting what i am trying to do. During these moments, its hard not to feel like that odd one out. During this process, I started noticing common patterns and stages people go through during this journey. Specially amongst those who have managed to successfully reinvent themselves.</p>
            <p>I took a decision to resign before i had another job lined up to force my own hand in making a change on how i should not waste the limited time. But thanks to my instincts, I knew well how to take this forward by having appropriate guidance @ preplaced. 
I gave myself permission to recuperate, reground myself, and recalibrate things i wanted for the future.</p>
            <p>Thanks to my luck! I found the right co-ordinator Abhimanyu and the mentor Nishit. They gave me the stage to think liberally, make choices i prefer & appropriate guidance as i am walking through this learning experience. I have things aligned to keep me busy during this time & lot happier spending time doing things i wished to pursue. Rolling things up for having plans to have futuristic, balanced and broadly right just figuring things out along the way.</p>
       </u1>
    </div>    
</div>   
</body>
</html>
