{% extends 'index.html' %}

{% block content %}
    <h1>{% block title %} DataStructure Representation {% endblock %}</h1>
    <ul>
    <li><a href="http://35.224.24.153:5000/list">List</a></li>
    <li><a href="http://35.224.24.153:5000/set">Set</a></li>
    <li><a href="http://35.224.24.153:5000/dictionary">Dictionary</a></li>
    <li><a href="http://35.224.24.153:5000/stack">Stack</a></li>
    <li><a href="http://35.224.24.153:5000/queue">Queue</a></li>
    <li><a href="http://35.224.24.153:5000/linkedlist">Linked List</a></li>
    </ul>
{% endblock %}
